@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd{margin:0;}

body{
    min-width:1200px;
    color:#333;
    font-family: 'NotoSans', sans-serif;
    font-weight: 200;
}


h1,h2,h3,h4,h5,h6{
    font-family:'Berkshire Swash';
}
   
ul,li{
    margin:0;
    padding:0;
    list-style:none;
}

a{
    text-decoration: none;
    color:#000;
    
}

.inner{
    width:1520px;
    margin:0 auto; 
}


.cf::after{
    content:""; 
    display:block; 
    clear:both; 
}